node_modules
dist
.git
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos .env não devem ser copiados para a imagem; serão fornecidos em tempo de execução
.env
.env.*
!.env.example # Pode-se querer copiar o .env.example

# Dockerfile e .dockerignore não precisam estar na imagem
Dockerfile
.dockerignore
